.home__container{
	width: 90%;
	margin: auto;
	padding-top: 50px;
	display: flex;

	justify-content: space-around;
	align-items: baseline;
	flex-wrap: wrap;
}

.footer {
	background-color: #ffffff;
	font-family: 'Segoe UI';
	display: flex;
	justify-content: center;
}

.footer:hover {
	color: blue;
	font-weight: 600;
}